<div class="container px-5 px-sm-0">

  <%= render 'layouts/error_explanation', book: @new_book %>

  <div class="row">

    <div class="col-md-3">
      <!--テンプレートで使っている変数は@userだけじゃない！-->
      <%= render 'tpl', user: @user, book: @new_book %>
      <!--@new_bookを使えるようにする記述が必要！！-->
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>

      <table class="table">

        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <!--プロフ画-->
              <td><%= image_tag user.get_profile_image %></td>
              <!--↑user(ブロック変数).get_profile_image(user.rbで定義したメソッド)-->
              <!--名前-->
              <td><%= user.name %></td>
              <!--users#showへのリンク-->
              <td><%= link_to "Show" , user_path(user.id) %></td>
            </tr>
          <% end %>
        </tbody>

      </table>

    </div>

  </div>
</div>






