<!--テンプレートで使っている変数は@userだけじゃない！-->
<%= render 'tpl', user: @id_user, book: @new_book %>
<!--@new_bookを使えるようにする記述が必要！！-->


<div>

  <h2>一覧</h2>
  <% @books.each do |book| %>

    <table>

      <thead>
        <tr>
          <!--imageの分-->
          <th></th>
          <!--title-->
          <th>Title</th>
          <!--opinion-->
          <th>Opinion</th>
          <!--colspan-->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <!--imageの分-->
          <td>
            <%= link_to user_path(book.user.id) do %>
              <%= image_tag book.user.get_profile_image %>
            <% end %>
          </td>
          <!--title-->
          <td><%= link_to book.title , book_path(book.id) %></td>
          <!--opinion-->
          <td><%= book.body %></td>
        </tr>
      </tbody>

    </table>

  <% end %>

</div>







