<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<!--テンプレートで使っている変数は@userだけじゃない！-->
<%= render 'users/tpl', user: @user, book: @new_book %>
<!--@new_bookを使えるようにする記述が必要-->


<div>
  <h2>すべての本</h2>
  <% @books.each do |book| %>

    <table>

      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <%= link_to user_path(book.user.id) do %>
              <!--↑アソシエーションのあるモデル同士であれば、-->
              <!--[変数].[モデル名]で関連する情報を操作できる↓-->
              <%= image_tag book.user.get_profile_image %>
            <% end %>
          </td>
          <td><%= link_to book.title , book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tr>
      </tbody>

    </table>

  <% end %>

</div>



