<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<!--テンプレートで使っている変数は@userだけじゃない！-->
<%= render 'users/tpl', user: @user, book: @new_book %>
<!--@new_bookを使えるようにする記述が必要！！-->

<div>
  <h2>本の詳細</h2>

  <table>
    <tbody>
      <tr>
        <!--(画像＋ユーザー名)にusers#showへのリンク-->
        <td></td>
        <!--タイトルにbooks#show(このページ)へのリンク(要るか？)-->
        <td><%= link_to @book.title , book_path(@book.id) %></td>
        <!--body-->
        <td><%= @book.body %></td>
        <!--editボタン-->
        <td><%= link_to "Edit" , edit_book_path(@book.id) %></td>
        <!--destroyボタン/機能しない-->
        <td><%= link_to "Destroy" , book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    </tbody>
  </table>

</div>
