<div class="container px-5 px-sm-0">

  <%= render 'layouts/error_explanation', book: @new_book %>

  <div class="row">

    <div class="col-md-3">
      <!--テンプレートで使っている変数は@userだけじゃない！-->
      <%= render 'users/tpl', user: @user, book: @new_book %>
      <!--@new_bookを使えるようにする記述が必要！！-->
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>

      <table class="table">
        <tbody>
          <tr>
            <!--(画像＋ユーザー名)にusers#showへのリンク-->
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image , size: "100x100" %>
                <br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <!--タイトルにbooks#show(このページ)へのリンク(要るか？)-->
            <td><%= link_to @book.title , book_path(@book.id) %></td>
            <!--body-->
            <td><%= @book.body %></td>

            <% if @book.user == current_user %>
              <!--editボタン-->
              <td><%= link_to "Edit" , edit_book_path(@book.id) , class: "btn btn-sm btn-success" %></td>
              <!--destroyボタン/「botton_to」に変えたことで機能するようになった-->
              <td><%= link_to "Destroy" , book_path(@book.id), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: '本当に削除しますか？' } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>